
.btn-primary {
    background-color: rgba(230, 51, 42, 1); 
    border-color: rgba(230, 51, 42, 1); 
}


.btn-primary:hover {
    background-color: rgba(260, 51, 42, 1); 
    border-color: rgba(260, 51, 42, 1); 
}

.btn-danger {
	background-color: orange;
	border: none;
	margin-left: 32px;
}

.btn-danger:hover {
	background-color: darkorange;
}

.btn-explorar {
	background-color: rgba(230, 51, 42, 1); 
    border: none;
    color: white;
    padding: 5.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    border-radius: 4px;
    margin: 20px;
    top: -55px;
    left: 140px;
}

.btn-explorar:hover {
	color: white;
	transition-duration: 300ms;
	transition-delay: 30ms;
	background-color: rgba(260, 51, 42, 1); 
	text-decoration: none;
}

.col {
    background-color: lightgray;
    border: 1px solid black;
}
